@import "variables";
@import "form-theme";
@import "~is-loading/src/css/index";

html {
    // font-size of html will be the base font-size because of "$font-size-base:1rem"
    font-size: 14px;

    // for beauty in Japanese env
    &[lang="ja"] body {
        font-family: "Lato", Emoji, Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
        letter-spacing: 0.05em;
        color: #444;
    }
}

#eyecatch {
    padding: 5em 1em;
    background: linear-gradient(-90deg, #C4D3BB, #99C7F5);

    h1 {
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
        text-shadow: 0 0 10px #666;
    }
}

#container-wrapper {
    padding: 2rem 0;
    background-color: lighten($warning, 45%);
}

#content {
    // tweak form appearance
    .form-group {
        .form-check:first-child {
            padding-left: 0;
        }
        legend {
            font-size: 1em;
        }
        label:not(.form-check-label), legend {
            font-weight: bold;
        }
        .form-control-file {
            padding: 0.375rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
    }
}

.container.help {
    color: lighten($secondary, 10%);
}

#footer {
    border-top: 1px solid darken($light, 10%);
}
